{% extends 'base.html' %} {% block title %} Register {%endblock%} {% block head
    %}
    <link
      href="{{ url_for('static', filename='css/style1.css')}}"
      rel="stylesheet"
    />
    {% endblock %} {%block body%}

    <div class="container">
      <div class="left-section">
        <img src="{{ url_for('static', filename='photos/ph1.jpg')}}" alt="Image" class="image">
       
      </div>
      <div class="right-section">
          <div class="welcome-text">
              <h2>Welcome to MeDomeService</h2>
            </div>
        <div class="login-box" id="login-box">
          <form method="POST">
          <h2>Tell us about you</h2>
          <div class="input-group">
            {{ form.hidden_tag() }} {{ form.name(id="username" ,placeholder="your name") }}
          </div>
          <div class="input-group">
            {{ form.hidden_tag() }} {{ form.email(id="password" ,placeholder="Your email")}}
          </div>
          <div class="input-group">
            {{ form.hidden_tag() }} {{ form.password_hash(id="password" ,placeholder="Your password")}}
          </div>
          <div class="input-group">
            {{ form.hidden_tag() }} {{ form.password_hash2(id="password" ,placeholder="Your password")}}
          </div>
          <div class="register">
            <p>
              I already have an account <a href="{{ url_for('login') }}">login</a>
            </p>
          </div>
          {{ form.submit(class="bt") }}
        </form>
        </div>
    </div>
    {% endblock %}