<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{ form.hidden_tag() }} {{ form.name() }}
    {{ form.hidden_tag() }} {{ form.prename() }}
    {{ form.hidden_tag() }} {{ form.adresse() }}
    {{ form.hidden_tag() }} {{ form.datn() }}
    {{ form.hidden_tag() }} {{ form.Ntph() }}
    {{ form.hidden_tag() }} {{ form.email() }}
    <a href="{{ url_for('home' )}}"
    ><button class="option">
      <h2><ion-icon name="home-outline"></ion-icon></h2>
      <!--home-->
    </button></a
  >
</body>
</html>