<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="{{ url_for('static', filename='css/style_home.css')}}" rel="stylesheet" />
</head>

<body>
  <header>
    <div class="he flex-row">
      <div id="titr">
        <h2>MeDomeService</h2>
      </div>
      <div id="btt1">
      <a href="{{ url_for('profil' )}}">
        <button class="log_out">
          profil
        </button>
      </a>
      </div>
      <div id="btt2">
      <a href="{{ url_for('log_out' )}}">
        <button class="log_out">
          logout
        </button>
      </a>
    </div>
    </div>
  </header>
  <main>
    <section class="info">
      <h1>Trouvez un rendez-vous avec</h1>
      <section class="animation">
        <div class="first">
          <div>Médecine générale</div>
        </div>
        <div class="second">
          <div>Cardiologue</div>
        </div>
        <div class="third">
          <div>Radiologue</div>
        </div>





      </section>
    </section>
    <div id="cont">
      <div id="sh">
        <form method="POST">
          <div class="search">
            <!-- -->

            {{ form.hidden_tag() }}
            <div id="spi">
              {{ form.spi(class="btnadd",id="bt1", autofocus=true) }}
            </div>
            <ion-icon name="people-circle-outline" id="doct"></ion-icon>
            <div id="wil">
              {{ form.wil(class="btnadd",id="bt2", autofocus=true) }}
            </div>
            <ion-icon name="navigate-outline" id="posi"></ion-icon>
            <div id="sb">
              {{ form.submit(id="sbb") }}
            </div>

            <!-- -->
          </div>
        </form>
      </div>
      <div class="ff" id="fast">
        <div id="fast-1">
          <a href="{{ url_for('search', w=2, s=2) }}">
            <button class="ss">
              <h2>Dentist</h2>
            </button>
          </a>
          <a href="{{ url_for('search', w=0, s=2) }}">
            <button class="ss">
              <h2>Ophthamlmol..</h2>
            </button>
          </a>
          <a href="{{ url_for('search', w=0, s=3) }}">
            <button class="ss">
              <h2>Cardiologist</h2>
            </button>
          </a>
          <a href="{{ url_for('search', w=0, s=4) }}">
            <button class="ss">
              <h2>Diabetologist</h2>
            </button>
          </a>
        </div>
        <div id="fast-2">
          <a href="{{ url_for('search', w=0, s=5) }}">
            <button class="ss">
              <h2>Orthopedic</h2>
            </button>
          </a>
          <a href="{{ url_for('search', w=0, s=6) }}">
            <button class="ss">
              <h2>General</h2>
            </button>
          </a>
          <a href="{{ url_for('search', w=0, s=6) }}">
            <button class="ss">
              <h2>Allergist</h2>
            </button>
          </a>
          <a href="{{ url_for('search', w=0, s=6) }}">
            <button class="ss">
              <h2>Nutritionist</h2>
            </button>
          </a>
        </div>
      </div>
    </div>
  </main>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>