<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="POST">
    {{ form.hidden_tag() }}
    {{ form.spi(class="btnadd", autofocus=true) }}
    {{ form.wil(class="btnadd", autofocus=true) }}
    {{ form.submit() }}     
    </form>
    <a href="{{ url_for('test', w=0, s=1) }}">
        <button class="log_out"><h2>s1</h2></button>
    </a>
    <a href="{{ url_for('test', w=0, s=2) }}">
        <button class="log_out"><h2>s6</h2></button>
    </a>
    <a href="{{ url_for('test', w=0, s=3) }}">
        <button class="log_out"><h2>s5</h2></button>
    </a>
    <a href="{{ url_for('test', w=0, s=4) }}">
        <button class="log_out"><h2>s4</h2></button>
    </a>
    <a href="{{ url_for('test', w=0, s=5) }}">
        <button class="log_out"><h2>s3</h2></button>
    </a>
    <a href="{{ url_for('test', w=0, s=6) }}">
        <button class="log_out"><h2>s2</h2></button>
    </a>
      <a href="{{ url_for('log_out' )}}">
        <button class="log_out"><h2>logout</h2></button>
      </a>
      <a href="{{ url_for('profil' )}}">
        <button class="log_out"><h2>profil</h2></button>
      </a>
</body>

</html>