<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    href="{{ url_for('static', filename='css/style_home_doctor.css')}}"
    rel="stylesheet"
  />
</head>

<body>
    <form method="POST">
    {{ form.hidden_tag() }}
    {{ form.date_to_do() }}
    {{ form.time_to_do() }}
    {{ form.submit() }}     
    </form>
    <a href="{{ url_for('log_out' )}}">
        <button class="log_out"><h2>logout</h2></button>
      </a>
      <a href="{{ url_for('profil' )}}">
        <button class="log_out"><h2>profil</h2></button>
      </a>
</body>

</html>