<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hy in your profil</title>
    <link
    href="{{ url_for('static', filename='css/style_profil.css')}}"
    rel="stylesheet"
  />
  </head>
  <body>
   {{ current_user.name}}
   {{ inf.prename}}
   {{ inf.addresse}}
   {{ inf.Ntph}}
   {{ inf.datn}}
   {{ current_user.email}}
   <a href="{{ url_for('profil_edit', id = current_user.id )}}">
    <button id="edt">
      <h2>edit</h2>
    </button></a
  >
  {% if current_user.bro=="0" %}
  <a href="{{ url_for('home_doctor' )}}"
  ><button class="option">
    <h2><ion-icon name="home-outline"></ion-icon>home</h2>
    <!--home-->
  </button></a
>
  {% endif %}
  {% if current_user.bro=="1" %}
  <a href="{{ url_for('home' )}}"
  ><button class="option">
    <h2><ion-icon name="home-outline"></ion-icon>home</h2>
    <!--home-->
  </button></a
>
{% endif %}
  </body>
</html>
