<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {{ s }}
    {{ w }}
    {% for doct in docts %}
    {{ doct.name }}
    {% for infd in infds  %}
     {% if infd.user_id==doct.id %}
     {{ infd.prename }}
     {{ infd.adresse }}
     {{ infd.Ntph }}
     {% endif %}
     {% endfor %}
     <a href="{{ url_for('test', id=doct.id) }}">
        <button class="log_out"><h2>profil</h2></button>
     </a>
    {% endfor %}
    <a href="{{ url_for('home') }}">
        <button class="log_out"><h2>home</h2></button>
    </a> 
</body>

</html>